/**
 * Custom theme
 * 
 * Modify this file instead of style.less.
 */
:root {
  --main-font: 'Kanit', sans-serif;
  --second-font: 'Kanit', sans-serif;
  --background-section-1: #333 url('../assets/bg1.jpg') no-repeat scroll top;
  --background-section-2: #57584f;
  --background-section-3: #ddd;
  --color-text-main: #fff;
  --color-text-second: #999;
  --color-text-inverted: #333;
  --color-text-shadow-section-1: #fff;
  --color-text-shadow-section-2: #fff;
  --color-text-shadow-section-3: #333;
  --opacity-text-shadow: 0.07;
  --fontsize-shadow: 200px;
  --fontsize-title: 64px;
  --fontsize-subtitle: 21px;
  --fontsize-text: 18px;
  --fontsize-small: 15px;
  --width-wrapper: 1350px;
  --height-langbutton: 36px;
  --gap-tabscontrols: 40px;
  --width-image: 450px;
  --height-image: 600px;
  --border-image: 3px solid #eee;
  --borderradius-image: 0px;
  --boxshadow-image: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --width-map: 700px;
  --height-map: 420px;
  --border-map: 3px solid #eee;
  --borderradius-map: 0px;
  --boxshadow-map: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --skew-sections: 10%;
}
/**
 * Additional effects
 */
.section-1 .subtitle,
.section-1 .title,
.section-1 .text {
  text-shadow: 0px 2px 4px #000000;
}
.section-1 .subtitle:after,
.section-1 .title:after,
.section-1 .text:after {
  box-shadow: 0px 2px 4px #000000;
}
.section-1 .text-shadow {
  opacity: 0.3;
}
@media only screen and (max-width: 2000px) {
  body {
    background-position: center top !important;
    background-size: auto 1200px !important;
  }
}
@media only screen and (max-width: 1600px) {
  body {
    background-size: auto 1100px !important;
  }
}
@media only screen and (max-width: 1200px) {
  body {
    background-size: auto 900px !important;
  }
}
@media only screen and (max-width: 950px) {
  body {
    background-size: auto 1250px !important;
  }
}
@media only screen and (max-width: 650px) {
  body {
    background-size: auto 1100px !important;
  }
}
/** 
 * Basic theme 
 * 
 * Uncomment this if you don't want to use custom theme.less
 */
/*
:root {
    --main-font: 'Kanit', sans-serif;
    --second-font: 'Kanit', sans-serif;
    --background-section-1: #333;
    --background-section-2: #6D6D64;
    --background-section-3: #FFF;
    --color-text-main: #fff;
    --color-text-second: #a0a0a0;
    --color-text-inverted: #333;
    --color-text-shadow-section-1: #fff;
    --color-text-shadow-section-2: #fff;
    --color-text-shadow-section-3: #333;
    --opacity-text-shadow: 0.05;
    --fontsize-shadow: 200px;
    --fontsize-title: 64px;
    --fontsize-subtitle: 21px;
    --fontsize-text: 18px;
    --fontsize-small: 15px;
    --width-wrapper: 1350px;
    --height-langbutton: 36px;
    --gap-tabscontrols: 40px;    
    --width-image: 450px;
    --height-image: 600px;
    --border-image: 0px solid transparent;
    --borderradius-image: 0px;
    --boxshadow-image: -15px 15px 0 0 rgb(255 255 255 / 25%);
    --width-map: 700px;
    --height-map: 420px;
    --border-map: 0px solid transparent;
    --borderradius-map: 0px;
    --boxshadow-map: none;
    --skew-sections: 10%;
}
*/
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  color: var(--color-text-main);
  font-size: var(--fontsize-text);
  font-weight: 300;
  line-height: 1.6em;
  overflow-x: hidden;
  font-family: var(--main-font);
  box-sizing: border-box;
  background: var(--background-section-1);
  background-position: top;
  background-size: contain;
  background-repeat: repeat;
}
ul {
  margin: 0;
  padding-left: 21px;
}
p {
  margin-bottom: 0.8em;
  margin-top: 0;
}
p:last-of-type {
  margin-bottom: 0;
}
/**
 * Wrappers
 */
.wrapper {
  width: 100%;
  max-width: var(--width-wrapper);
  margin: 0 auto 0 auto;
  padding: 0 20px;
}
.flex-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}
.img-wrapper {
  text-align: left;
  flex: 0 0 43%;
  position: relative;
  z-index: 10;
  font-size: 0;
}
.img-wrapper figure {
  margin: 0;
}
.img-wrapper figure figcaption {
  font-family: var(--second-font);
  font-size: var(--fontsize-small);
  font-weight: 300;
  color: var(--color-text-inverted);
  margin-bottom: 5px;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  flex: 0 0 57%;
}
/**
 * Sections
 */
header {
  padding: 0;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 20px;
}
.section-1 {
  min-height: 300px;
  padding-top: 50px;
}
.section-1 .text-shadow {
  margin-top: -25px;
  color: var(--color-text-shadow-section-1);
}
.section-2 {
  background: var(--background-section-2);
  background-position: top;
  background-size: 100%;
  background-repeat: repeat;
  min-height: 300px;
  clip-path: polygon(0 0, 100% var(--skew-sections), 100% 100%, 0 calc(100% - var(--skew-sections)));
  margin-top: -40px;
  padding: 140px 0 140px 0;
  margin-bottom: -120px;
}
.section-2 .text-shadow {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: -30px;
}
.section-2 .text-shadow span {
  transform: translateX(-50%);
  margin-left: 50%;
}
.section-2 .img-wrapper {
  text-align: right;
  flex: 0 0 46%;
}
.section-2 .text-wrapper {
  flex: 0 0 54%;
}
.section-2 .title {
  margin-bottom: 10px;
}
.section-2 .title:after {
  display: none;
}
footer {
  min-height: 300px;
  background: var(--background-section-3);
  padding-top: 140px;
  color: var(--background-section-1);
}
footer .title {
  text-align: center;
  margin-top: -74px;
  margin-bottom: 80px;
  line-height: 1;
  color: var(--color-text-inverted);
}
footer .title:after {
  border-color: var(--color-text-inverted);
  margin: 8px auto 8px auto;
  width: 80px;
}
footer .text-shadow {
  color: var(--color-text-shadow-section-3);
}
footer .text-wrapper {
  text-align: center;
  flex: 1 1 auto;
  padding-top: 0;
}
footer .img-wrapper {
  flex: 0 1 auto;
}
footer .subtitle {
  margin: 38px 0 6px 0;
  color: var(--color-text-inverted);
  position: relative;
  z-index: 12;
  display: inline-block;
  padding: 0px;
}
footer .subtitle:after {
  display: none;
  content: '';
  width: 80px;
}
footer .subtitle:first-child {
  margin-top: 0;
}
footer .text {
  color: var(--color-text-second);
}
/**
 * Blocks
 */
.lang-switcher ul {
  display: flex;
  justify-content: flex-end;
}
.lang-switcher ul li {
  list-style: none;
  margin-left: 10px;
  font-size: 0;
}
.lang-switcher ul li a {
  border: 2px solid transparent;
  border-radius: 100px;
  filter: grayscale(100%);
  display: block;
  transition: all 0.5s;
}
.lang-switcher ul li a img {
  height: var(--height-langbutton);
  display: block;
}
.lang-switcher ul li.active a {
  border: 2px solid transparent;
  filter: grayscale(0%);
}
.lang-switcher ul li:hover a {
  border: 2px solid transparent;
  filter: grayscale(0%);
}
.text-shadow {
  font-size: var(--fontsize-shadow);
  opacity: var(--opacity-text-shadow);
  white-space: nowrap;
  font-weight: 900;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 0.9em;
  text-transform: uppercase;
  margin-bottom: -30px;
}
.text-shadow span {
  text-align: left;
  display: inline-block;
}
.section-img {
  width: var(--width-image);
  height: var(--height-image);
  object-fit: cover;
  object-position: center;
  box-shadow: var(--boxshadow-image);
  border: var(--border-image);
  border-radius: var(--borderradius-image);
}
.title {
  font-size: var(--fontsize-title);
  font-weight: 700;
  margin: 0;
  line-height: 1.1;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.title:after {
  display: block;
  content: '';
  border-bottom: 2px solid white;
  width: 30%;
  margin-top: 10px;
}
.subtitle {
  color: var(--color-text-second);
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--fontsize-subtitle);
  margin: 0;
}
.subtitle:after {
  content: '';
  width: 20%;
  height: 2px;
  background-color: var(--color-text-second);
  position: absolute;
  top: 15px;
  margin-left: 10px;
}
.text {
  font-family: var(--second-font);
  font-size: var(--fontsize-second);
}
.map {
  height: var(--height-map);
  width: var(--width-map);
  object-fit: cover;
  object-position: center;
  border: var(--border-map);
  box-shadow: var(--boxshadow-map);
  border-radius: var(--borderradius-map);
}
.copyright {
  border-top: 2px solid var(--background-section-2);
  padding: 20px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: var(--color-text-inverted);
  margin-top: 40px;
  font-family: var(--second-font);
  font-weight: 300;
  font-size: var(--fontsize-text);
}
.divider {
  display: none;
  position: relative;
  background: var(--color-text-second);
  height: 2px;
  border: 0px;
  width: 100%;
  margin: -16px 0 28px 0;
  z-index: 10;
}
.tabs > .controls {
  display: flex;
  justify-content: start;
  gap: var(--gap-tabscontrols);
  margin-bottom: 20px;
}
.tabs > .controls > * {
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s;
  font-weight: 500;
  flex: 0 0 auto;
  font-size: var(--fontsize-subtitle);
  margin: 0;
  padding: 10px 0;
  position: relative;
}
.tabs > .controls > *:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  background: var(--color-text-main);
  left: 0;
  bottom: 5px;
  transition: all 0.5s;
}
.tabs > .controls > *:not(.active) {
  color: var(--color-text-second);
}
.tabs > .controls > *:not(.active):after {
  background: transparent;
}
.tabs > .controls > *:not(.active):hover:after {
  background: var(--color-text-second);
}
.tabs > .panels > * {
  min-height: 220px;
}
.tabs > .panels > *:not(.active) {
  display: none;
  opacity: 0;
}
/** 
 * RESPONSIVE DESIGN
 *        
 * Layouts:       
 * Desktop - from 1600px up (default)
 * Tablet  - from 1600px to 950px
 * Mobile  - from 950px to bottom
 *  
 */
/**
 * layout: Tablet
 */
@media only screen and (max-width: 1600px) {
  .wrapper {
    padding: 0;
  }
  header {
    right: 20px;
  }
  .section-1 .img-wrapper {
    text-align: center;
    padding-left: 20px;
  }
  .section-1 .text-wrapper {
    padding-left: 20px;
    padding-right: 40px;
  }
  .section-2 .img-wrapper {
    text-align: center;
  }
  .section-2 .text-wrapper {
    padding-right: 15px;
    padding-left: 40px;
    padding-right: 20px;
  }
  footer .text-wrapper {
    padding: 0 0 0 20px;
  }
  footer .wrapper {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1400px) {
  .map {
    width: calc(var(--width-map) * 0.8);
    height: calc(var(--height-map) * 0.8);
  }
}
@media only screen and (max-width: 1200px) {
  body {
    font-size: calc(var(--fontsize-text) * 0.8);
  }
  .text-shadow {
    font-size: calc(var(--fontsize-shadow) * 0.8);
  }
  .subtitle {
    font-size: calc(var(--fontsize-subtitle) * 0.8);
  }
  .subtitle:after {
    height: 1px;
    top: 12px;
  }
  .title {
    font-size: calc(var(--fontsize-title) * 0.8);
    margin-bottom: calc(25px * 0.8);
  }
  .title:after {
    border-width: 1px;
  }
  .section-img {
    width: calc(var(--width-image) * 0.8);
    height: calc(var(--height-image) * 0.8);
  }
  .tabs > .controls {
    gap: calc(var(--gap-tabscontrols) * 0.5);
  }
  .tabs > .controls > * {
    font-size: calc(var(--fontsize-subtitle) * 0.8);
  }
  footer .img-wrapper {
    flex: 0 0 560px;
  }
  footer .subtitle {
    margin-top: 20px;
  }
  footer .title {
    margin-top: -59px;
  }
  .copyright {
    font-size: calc(var(--fontsize-text) * 0.8);
  }
}
/**
 * layout: Mobile
 */
@media only screen and (max-width: 950px) {
  .wrapper {
    max-width: 520px;
  }
  .flex-wrapper {
    flex-direction: column-reverse;
  }
  .section-img {
    width: calc(var(--width-image) * 0.9);
    height: calc(var(--height-image) * 0.9);
  }
  .section-1 .text-shadow,
  .section-2 .text-shadow {
    font-size: 97px;
    margin-top: 40px;
    text-align: left;
    margin-bottom: 45px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .section-1 .text-wrapper {
    padding: 0;
  }
  .section-1 .img-wrapper {
    padding: 50px 0 0 0;
  }
  .section-2 {
    margin-top: -93px;
    clip-path: polygon(0 0, 100% calc(var(--skew-sections) * 0.5), 100% 100%, 0 calc(100% - (var(--skew-sections) * 0.5)));
  }
  .section-2 .flex-wrapper {
    flex-direction: column;
  }
  .section-2 .text-wrapper {
    padding: 0;
  }
  .section-2 .img-wrapper {
    padding: 30px 0 0 0;
  }
  .tabs > .controls {
    flex-direction: column;
    gap: 0px;
    align-items: start;
  }
  .tabs > .controls > * {
    font-size: calc(var(--fontsize-subtitle) * 0.8);
  }
  footer .title {
    margin-bottom: 40px;
    margin-top: -51px;
  }
  footer .text-shadow {
    font-size: 85px;
  }
  footer .text-wrapper {
    padding: 0;
  }
  footer .img-wrapper {
    flex: 1 1 auto;
  }
  .map {
    margin-top: 50px;
    width: 100%;
    height: 300px;
  }
  .copyright {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 650px) {
  .wrapper {
    max-width: 430px;
  }
  .title {
    font-size: 44px;
  }
  .section-img {
    width: calc(var(--width-image) * 0.7);
    height: calc(var(--height-image) * 0.7);
  }
  .section-1 .text-shadow {
    font-size: 80px;
    margin-top: 25px;
    text-align: left;
    margin-bottom: 30px;
  }
  .section-1 .text-shadow span {
    transform: none;
    margin-left: 0;
  }
  .section-2 .text-shadow {
    font-size: 80px;
  }
  footer .title {
    margin-top: -46px;
  }
  footer .title .text-shadow {
    font-size: 80px;
    display: none;
  }
  .map {
    height: 270px;
  }
}
@media only screen and (max-width: 520px) {
  .wrapper {
    max-width: 360px;
  }
  .title {
    font-size: 40px;
  }
  .section-img {
    width: calc(var(--width-image) * 0.6);
    height: calc(var(--height-image) * 0.6);
  }
  .section-1 .text-shadow {
    margin-bottom: 30px;
    font-size: 67px;
  }
  footer .text-shadow {
    font-size: 70px;
  }
  footer .title {
    margin-top: -41px;
  }
  .tabs > .controls * {
    font-size: 15px;
  }
  .map {
    height: 250px;
  }
}
@media only screen and (max-width: 420px) {
  .wrapper,
  footer .wrapper {
    padding: 0 8px;
  }
}
