/**
 * Custom theme
 * 
 * Modify this file instead of style.less.
 */

:root {
  --main-font: 'Kanit', sans-serif;
  --second-font: 'Kanit', sans-serif;
  --background-section-1: #333 url('../assets/bg1.jpg') no-repeat scroll top;
  --background-section-2: #57584f;
  --background-section-3: #ddd;
  --color-text-main: #fff;
  --color-text-second: #999;
  --color-text-inverted: #333;
  --color-text-shadow-section-1: #fff;
  --color-text-shadow-section-2: #fff;
  --color-text-shadow-section-3: #333;
  --opacity-text-shadow: 0.07;
  --fontsize-shadow: 200px;
  --fontsize-title: 64px;
  --fontsize-subtitle: 21px;
  --fontsize-text: 18px;
  --fontsize-small: 15px;
  --width-wrapper: 1350px;
  --height-langbutton: 36px;
  --gap-tabscontrols: 40px;    
  --width-image: 450px;
  --height-image: 600px;
  --border-image: 3px solid #eee;
  --borderradius-image: 0px;
  --boxshadow-image: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --width-map: 700px;
  --height-map: 420px;
  --border-map: 3px solid #eee;
  --borderradius-map: 0px;
  --boxshadow-map: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --skew-sections: 10%;
}

/**
 * Additional effects
 */
.section-1 {
  .subtitle, .title, .text {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
    &:after {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
    }
  }
  .text-shadow {
    opacity: 0.3;
  }
}


@media only screen and (max-width: 2000px) {
  body {
    background-position: center top !important;
    background-size: auto 1200px !important;
  }
}
@media only screen and (max-width: 1600px) {
  body {
    background-size: auto 1100px !important;
  }
}
@media only screen and (max-width: 1200px) {
  body {
    background-size: auto 900px !important;
  }
}
@media only screen and (max-width: 950px) {
  body {
    background-size: auto 1250px !important;
  }
}
@media only screen and (max-width: 650px) {
  body {
    background-size: auto 1100px !important;
  }
}